@page
@model dotNet2.Pages.HistoriaModel
@{
    ViewData["Title"] = "Ostatnio szukane";
}
<h1>Ostatnio szukane</h1>
@if (Model.List == null || Model.List.Count == 0)
{
    <div class="alert alert-danger">Brak dodanych danych</div>
}
else
{
    <table class="fizzbuzz-db-data">
        <tbody>
            <tr>
                <th><label>Lp.</label></th>
                <th><label asp-for="FizzBuzzLabels.Year"></label></th>
                <th><label asp-for="FizzBuzzLabels.FullName"></label></th>
                <th><label asp-for="FizzBuzzLabels.Date"></label></th>
                <th><label asp-for="FizzBuzzLabels.Result"></label></th>
                <th><label>Usuń</label></th>
            </tr>
            @{var en = 1;}
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>@en</td>
                    <td>@item.Year</td>
                    <td>@item.FullName</td>
                    <td>@item.Date</td>
                    <td>@item.Result</td>
                    <td>
                    @if (@item.UId == Model.currentUserId)
                    {
                        <form method="post">
                            <input type="hidden" name="deleteId" value="@item.Id" />
                            <button type="submit" value="Delete" class="material-icons delete-btn">close</button>
                        </form>
                    }
                    </td>
                </tr>
                en++;
            }
        </tbody>
    </table>
}
